https://github.com/wazo-platform/wazo-lib-rest-client/archive/master.zip
https://github.com/wazo-platform/wazo-amid-client/archive/master.zip
https://github.com/wazo-platform/wazo-auth-client/archive/master.zip
https://github.com/wazo-platform/wazo-confd-client/archive/master.zip
https://github.com/wazo-platform/wazo-dird-client/archive/master.zip
https://github.com/wazo-platform/xivo-lib-python/archive/master.zip
babel==2.6.0
cheroot==6.5.4
cherrypy==8.9.1
flask-babel==0.11.2
flask-cors==3.0.9
flask-restful==0.3.7
flask==1.0.2
jinja2==2.10
kombu==4.6.11
marshmallow==3.0.0b14
netaddr==0.7.19
pyyaml==3.13  # from xivo-lib-python
requests==2.21.0
stevedore==1.29.0
werkzeug==0.14.1  # for flask-babel
