Source: wazo-phoned
Section: python
Priority: optional
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 12), dh-python, python3-all, python3-setuptools, python3-babel
Standards-Version: 3.9.6
X-Python3-Version: >= 3.11

Package: wazo-phoned
Architecture: all
Depends: ${python3:Depends},
         ${misc:Depends},
         python3-cheroot,
         python3-cherrypy3,
         python3-flask,
         python3-flask-babel,
         python3-flask-cors,
         python3-flask-restful,
         python3-jsonpatch,
         python3-kombu,
         python3-marshmallow,
         python3-netaddr,
         python3-requests,
         python3-stevedore,
         python3-werkzeug,
         wazo-auth-client-python3,
         wazo-amid-client-python3,
         wazo-confd-client-python3,
         wazo-dird-client-python3,
         xivo-lib-python-python3
Description: Wazo PBX's directory server
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
