[Unit]
Description=wazo-phoned server
ConditionPathExists=!/var/lib/wazo/disabled
After=network.target wazo-confgend.service
StartLimitBurst=15
StartLimitIntervalSec=150

[Service]
ExecStart=/usr/bin/wazo-phoned --user www-data
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
