[Unit]
Description=wazo-dird-phoned server
ConditionPathExists=!/var/lib/wazo/disabled
After=network.target wazo-confgend.service
Before=monit.service

[Service]
Type=forking
ExecStartPre=/usr/bin/install -d -o www-data -g www-data /var/run/wazo-dird-phoned
ExecStart=/usr/bin/wazo-dird-phoned --user www-data
PIDFile=/var/run/wazo-dird-phoned/wazo-dird-phoned.pid

[Install]
WantedBy=multi-user.target
