[Unit]
Description=wazo-phoned server
ConditionPathExists=!/var/lib/wazo/disabled
After=network.target wazo-confgend.service
Before=monit.service

[Service]
ExecStartPre=/usr/bin/install -d -o www-data -g www-data /run/wazo-phoned
ExecStart=/usr/bin/wazo-phoned --user www-data
PIDFile=/run/wazo-phoned/wazo-phoned.pid

[Install]
WantedBy=multi-user.target
