[Unit]
Description=xivo-dird-phoned server
ConditionPathExists=!/tmp/xivo-disabled
After=network.target xivo-confgend.service

[Service]
Type=forking
ExecStartPre=/usr/bin/install -d -o www-data -g www-data /var/run/xivo-dird-phoned
ExecStart=/usr/bin/xivo-dird-phoned --user www-data
PIDFile=/var/run/xivo-dird-phoned/xivo-dird-phoned.pid

[Install]
WantedBy=multi-user.target
