<?xml version="1.0" encoding="ISO-8859-1"?>
<YealinkIPPhoneInputScreen
  type="string"
  Beep="no"
  Timeout="15"
  LockIn="no"
>
  <Title wrap="yes">Wazo Authentication</Title>
  <URL>{{ hostname }}api/phoned/0.1/yealink/services/authenticate</URL>
  <InputField password="yes" type="number">
    <Prompt>PIN:</Prompt>
    <Parameter>pin</Parameter>
  </InputField>
</YealinkIPPhoneInputScreen>
