<?xml version="1.0" encoding="ISO-8859-1"?>
<YealinkIPPhoneConfiguration Beep="yes" >
  <Item>account.1.enable = 1</Item>
  <Item>account.1.label = {{ line.caller_id_name }}</Item>
  <Item>account.1.display_name =  {{ line.caller_id_name }}</Item>
  <Item>account.1.user_name = {{ line.username }}</Item>
  <Item>account.1.auth_name = {{ line.username }}</Item>
  <Item>account.1.password = {{ line.secret }}</Item>
  <Item>account.1.sip_server.1.address = 142.112.40.221</Item>
  <Item>account.1.sip_server.1.port = 5060</Item>
</YealinkIPPhoneConfiguration>
