version: '3.7'
services:
  sync:
    image: wazoplatform/wait
    environment:
      TIMEOUT: ${INTEGRATION_TEST_TIMEOUT}

  phoned:
    image: wazo-phoned-test
    ports:
      - "9498"
      - "9499"
    volumes:
      - "../..:/usr/src/wazo-phoned"
      - "./ssl:/etc/ssl"
      - "./auth_keys:/tmp/auth_keys"
      - "./etc/wazo-phoned/conf.d/50-default.yml:/etc/wazo-phoned/conf.d/50-default.yml"
      # - "${LOCAL_GIT_REPOS}/xivo-lib-python/xivo:/opt/venv/lib/python3.9/site-packages/xivo"
    environment:
        XIVO_UUID: 08c56466-8f29-45c7-9856-92bf1ba89b93

  dird:
    image: wazoplatform/flask
    expose:
      - "9489"
    volumes:
      - "./dird_data:/tmp"
    command: "python /tmp/mock-wazo-dird.py 9489"

  auth:
    image: "wazoplatform/wazo-auth-mock"
    ports:
      - "9497"

  rabbitmq:
    image: rabbitmq
    ports:
      - 5672
    volumes:
      - type: tmpfs
        target: /var/lib/rabbitmq

  amid:
    image: wazoplatform/flask
    ports:
      - 9491
    volumes:
      - ./amid_data:/usr/local/share/wazo-amid
    command: python /usr/local/share/wazo-amid/mock-wazo-amid.py 9491

  confd:
    image: wazoplatform/flask
    ports:
      - 9486
    volumes:
      - ./confd_data:/usr/local/share/wazo-confd
    command: python /usr/local/share/wazo-confd/mock-wazo-confd.py 9486
