<?xml version="1.0" encoding="UTF-8" ?>
<FanvilIPPhoneInputScreen>
 <Title>{{ gettext('Wazo Search') }}</Title>
 <Prompt>{{ gettext('Name or number') }}</Prompt>
 <URL>{{ base_url|e }}?xivo_user_uuid={{ user_uuid|e }}</URL>
 <InputField>
  <Prompt>{{ gettext('Name or number') }}</Prompt>
  <Parameter>term</Parameter>
  <Default></Default>
 </InputField>
</FanvilIPPhoneInputScreen>
