<?xml version="1.0" encoding="UTF-8" ?>
<SnomIPPhoneInput>
 <Url>{{ base_url|e }}?xivo_user_uuid={{ user_uuid|e }}&term=__X__</Url>
 <InputItem>
  <DisplayName>{{ gettext('Name or number') }}</DisplayName>
  <InputToken>__X__</InputToken>
  <DefaultValue />
  <InputFlags>a</InputFlags>
 </InputItem>
</SnomIPPhoneInput>
